body
{
  background: linear-gradient(to right, #98fb98,#d5fdd5) !important;
  color: black !important;
}
.recipes{
  width: 500px;
  margin: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
